:root{
  --color1-echo: #764ba2;
  --gris1--echo: rgb(145, 143, 143); 
  --verde-echo: rgb(12, 105, 12);
  
  --beige-echo: rgb(238, 234, 228);

  --dark-echo: #374d5f;
  --medium-echo: #6f8ba2;
  --light-echo: #cbd5df;
  --cta-echo: rgb(102, 29, 29);
  --rojo-echo: #aa1a1a;
  --bright-echo: rgba(242, 252, 250, 0.774);
  --confirm-echo: #1e5329;
  --gold-echo: #d4af37;
  --alert-echo: #e4f12d;
  --beige-echo: #f7f1eb;
}



body{
	/* background: linear-gradient(135deg, #667eea 0%, #764ba2 50%, #f093fb 100%); */
  background: #6f8ba2;
	padding-top: 70px ;
  min-width: 100vw;
  overflow-x: hidden;
  /* margin-right: calc(100vw - 100%) !important; */
}

/* scroll */


/* Scroll del body con estilo de marca */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--medium-echo) var(--dark-echo);
}

/* Para navegadores Webkit (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 12px;
  background: var(--dark-echo) !important;
}

body::-webkit-scrollbar-track {
  background: var(--dark-echo) !important;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--medium-echo), var(--light-echo));
  border-radius: 10px;
  border: 2px solid var(--dark-echo);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(var(--light-echo), var(--medium-echo));
}





.modal {
  padding-right: 0 !important;
}

/* body.modal-open {
  padding-right: 0 !important;
  overflow: hidden !important;
} */

/* .modal-open body {
  margin-right: 0 !important;
} */

#app{	
	padding: 0;
}



nav{ /*elemento de header*/
  background-color: rgba(221, 209, 209, 0.301) !important;
  height: 60px;
  width: 100vw;
  
  padding: 1px 20px !important;
}




.btn-echo1{
  right: 20px;
  padding: .5rem 1.2rem;
  border-radius: 45px;
  color: var(--light-echo);
  background-color: var(--dark-echo);
  border: 1px solid var(--light-echo);
  box-shadow: 0px 0px 2px var(--light-echo);
  transition: all .3s ease-in-out;
}

.btn-echo1:hover{
  background-color: var(--light-echo);
  color: var(--dark-echo);
  border: 1px solid var(--dark-echo);
  box-shadow: 0px 0px 8px var(--light-echo);
}

/* botones de modal */
.btn-eclose,
.btn-econf,
.btn-edelete,
.btn-edark{
  margin-inline: .25rem;
}

.btn-eclose{
  border-radius: 20px;
  padding: .4rem 1rem;
  border: 1px solid var(--medium-echo);
  color: var(--light-echo);
  box-shadow: 0px 0px 2px var(--medium-echo);
  transform: scale(1);
  transition: transform 0.9s ease, box-shadow 0.9s ease;
}

.btn-eclose:hover{
  background-color: var(--light-echo);
  border-radius: 20px;
  padding: .4rem 1rem;
  border: 1px solid var(--medium-echo);
  color: var(--dark-echo);
  box-shadow: 0px 0px 8px var(--medium-echo);
}

.btn-econf {
  background-color: var(--confirm-echo) !important;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  border: 1px solid var(--medium-echo) !important; 
  color: var(--light-echo);
  box-sizing: border-box !important;
  transform: none;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.btn-econf:hover {
  background-color: var(--light-echo) !important;
  color: var(--confirm-echo);
  box-shadow: 0 0 2px rgb(89, 89, 190);
}

.btn-edelete {
  background-color: var(--cta-echo) !important;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  border: 1px solid var(--medium-echo) !important; 
  color: var(--light-echo);
  box-sizing: border-box !important;
  transform: none;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.btn-edelete:hover {
  background-color: var(--light-echo) !important;
  color: var(--cta-echo);
  box-shadow: 0 0 2px var(--cta-echo);
}


.btn-edark {
  background-color: var(--dark-echo) !important;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  border: 1px solid var(--light-echo) !important; 
  color: var(--light-echo);
  box-sizing: border-box !important;
  transform: none;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  box-shadow: 0 0 4px var(--dark-echo);
}

.btn-edark:hover {
  background-color: var(--light-echo) !important;
  border: 1px solid var(--dark-echo) !important;
  color: var(--dark-echo);
  box-shadow: 0 0 8px var(--dark-echo);
}




h1{
  /* color: var(--color1-echo); */
  color: var(--dark-echo);
}
h5{
  font-weight: normal;
  color: var(--medium-echo);
}


.miContenedor{
	/* background-color: rgb(253, 250, 253); */
  background-color: var(--light-echo);
	min-width: 98%;
	padding: 50px 10px 10px;
	border-radius: 25px;
  box-shadow: 2px -4px 12px var(--medium-echo);
  margin-left: auto;
margin-right: auto;

	
}

.btn-group{
  margin-bottom: 10px !important;
  
}


.row{

  /* border: 1px solid rgb(95, 95, 95); */
padding: 20px 1px;
box-sizing: content-box;
}

.datos-camp .row {
    margin-bottom: -0.6rem; /* o -1rem */
}

.btn-campaña{
	border-radius: 20px !important;
  min-width: 400px;
  width: fit-content;
  padding: 30px 30px 5px;
  margin: 1px 10px;
  text-align: center;
  height: fit-content;
  font-size: 1.3em;
  background-color: var(--bright-echo);
  /* border: 1px solid grey; */
  box-shadow: 2px 2px 10px var(--gris1--echo);
  color: var(--medium-echo);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.principal{
  font-weight: 600 !important;
}

.btn-campaña.active .descripcion,
.btn-campaña.active .ico-btn {
  color: var(--light-echo) !important;
}



.descripcion{
  font-size: .7em;
  color: var(--medium-echo);
}

input[type="radio"] {
  display: none;
}

 .btn-campaña.active {
  border: 2px ridge var(--light-echo);
  background: var(--medium-echo) !important;
  box-shadow: 5px 3px 10px var(--medium-echo);
  color: var(--bright-echo);
  
}

.btn-campaña:hover {
  box-shadow:
    inset -6px -6px 6px rgba(0, 0, 0, 0.15),
    inset 6px 6px 6px rgba(0, 0, 0, 0.1),
    2px 2px 8px var(--medium-echo);
  /* transform: translateY(-4px); */
}


.btn-campaña.active:hover {
  box-shadow:
    inset -6px -6px 6px rgba(255, 255, 255, 0.2),
    inset 6px 6px 6px rgba(70, 70, 70, 0.15),
    2px 2px 8px var(--medium-echo);
  
}





.ico-btn{
  font-size: 1.5em;
  color:var(--medium-echo);
}

.icon-btn{
  /* color: var(--color1-echo); */
  color:var(--light-echo);
  font-size: 1.5em;
}

.mb-3{
  /* border: .1px solid var(--color1-echo); */
}

.datos-camp{
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--gris1--echo);
}

.form-crear{
  box-shadow: 2px 2px 10px var(--gris1--echo) !important;
  padding: 20px !important;
  border-radius: 10px;
}

.dato-cam{
  color: var(--color1-echo);
  
}

.data-camp{
  border-left: 4px solid var(--dark-echo);
  padding-left: 10px;
}

.subti{
  color: var(--dark-echo);
  font-size: 1.3em;
  font-weight: 400;
}



.campo-nombre{
  font-size: 1.2em;
  font-weight: 500;
  color: var(--dark-echo);
}

.campo-valor{
  font-size: 1.2em;
  color: var(--medium-echo);
  font-weight: 500;
}

.link-camp{
  text-decoration: none;
  color: var(--medium-echo);
}





/*TOGGLE DIV*/


.text-end {
  /* border: 1px solid violet; */
  width: fit-content;
  height: fit-content;
}

.toggle-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.toggle-label {
  font-weight: normal;
  color: #a7a3a8c0;
  margin: 0 8px;
  transition: color 0.3s, font-weight 0.3s;
}

.toggle-label.active-green {
  color: var(--confirm-echo);
  text-shadow: 2px 2px 10px var(--confirm-echo);
  
}

.toggle-label.active-red {
  color: var(--rojo-echo);
  text-shadow: 2px 2px 10px var(--rojo-echo);
}

.toggle-switch input {
  display: none;
}

.slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--bright-echo);
  border-radius: 20px;
  /* transition: background-color 0.3s; */
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1px;
  top: 1px;
  background-color: var(--bright-echo);
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(20px);
}

.slider.green {
  background-color: var(--confirm-echo);
  box-shadow: 2px 2px 10px var(--confirm-echo);
}

.slider.red {
  background-color: var(--rojo-echo);
  box-shadow: 2px 2px 10px var(--rojo-echo);
}

.btn-echo{
  background-color: var(--dark-echo);
  color: var(--light-echo);
  margin-inline: 4px;
  border-radius: 20px;
  padding: 8px 24px;
  box-shadow: px 2px 8px var(--medium-echo) ;
}

.btn-echo:hover {
  background-color: var(--dark-echo);
  color: var(--light-echo);
  box-shadow:
    0 4px 15px rgba(0, 0, 0, 0.2),
    0 0 10px var(--medium-echo);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}


.action {
  background-color: var(--cta-echo);
  color: var(--light-echo);
  border-radius: 20px;
  padding: 8px 24px;
  margin-inline: 4px;
  transition: all 0.3s ease;
}

.action:hover {
  background-color: var(--cta-echo);
  color: var(--light-echo);
  box-shadow:
    inset -3px -3px 6px rgba(255, 255, 255, 0.1),
    inset 3px 3px 6px rgba(0, 0, 0, 0.15),
    0 2px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}



/* mi tabla */

.la-tabla{
  
  /* border: 2px solid blue; */
}

.cont-tabla{
  /* margin-top: -60px; */
  /* border: 1px solid goldenrod; */
  height: fit-content;
  min-height: 560px;
  border-radius: 10px;
  box-shadow: 4px 4px 14px var(--gris1--echo),
  -2px -2px 6px var(--gris1--echo);
}

.mi-tabla th{
  background-color: var(--dark-echo) !important;
  color: var(--light-echo);
}

.mi-tabla td{
  background-color: var(--beige-echo);
  color: var(--dark-echo);
} 

.mi-tabla tr:hover {
  background-color: #9463c9;
  color: white; /* Opcional: cambia color de texto */
  transition: background-color 0.3s ease;
}


    /*check boxs*/

    .mi-checkbox {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid var(--medium-echo);
  border-radius: 0.3em;
  background-color: #f7f1eb; 
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.mi-checkbox:checked {
  background-color: var(--medium-echo);
  border-color: var(--dark-echo);
  
}

.mi-checkbox:checked::after {
  content: "✓";
  color: white;
  font-size: 0.8em;
  position: absolute;
  top: 0.05em;
  left: 0.28em;
  border-color: var(--dark-echo);
}

.mi-checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--dark-echo);
}

/* modal preview */


#iaModal,
#previewModal,
#responderTodos,
#resetear{
  backdrop-filter: blur(2px) saturate(130%);
  background-color: rgba(8, 47, 56, 0.322);
}

/*  CARDS  */

.columCards{
  /* border: 2px solid rgba(201, 65, 31, 0.932); */
  height: 74vh;
  overflow-y: scroll;
  padding-inline: 4px ;
}

.card-btn {
  background: linear-gradient(120deg, var(--bright-echo), var(--light-echo));
  background-size: 200% 200%;
  border-left: 10px solid var(--dark-echo);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: -4px;
  transition: all 0.4s ease;
}

.card-btn:hover {
  background-position: right center;
  
  box-shadow:
    inset 0 0 6px rgba(255, 255, 255, 0.06),
    0 2px 8px rgba(0, 0, 0, 0.15);
  border-left: 10px solid var(--medium-echo);
  transform: translateY(-1px);
  
}

.card-btn:active{
  background: var(--dark-echo);
  color:var(--light-echo);
}


.ca-ctb{
  padding: 8px 16px;
}

.card-title{
  color: var(--dark-echo);
  margin: 0;
}

.card-text{
  
}

p.card-text small.name-type {
  color: var(--medium-echo) !important;
  font-weight: 500;
}



  /* RESPONSIVE */

@media (max-width: 760px){
 
table {
  width: 100%;
  table-layout: fixed;
}

td {
  word-wrap: break-word;
  
}




  .test-email{
  display: none;
}

}



/*  BANDEJA */
.container-bandeja{
  max-height: 85vh;
  display: flex;
  flex-direction: column;
}

.div-filtros{
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.div-bandeja{
  flex: 1;
  overflow-y: auto;
}

.div-bandeja .card{
  border: none;
  box-shadow: none;

}

.div-bandeja .list-group-item {
  padding: 1px 15px !important; /* Reduce el padding vertical */
  margin-bottom: 0 !important;
  border-bottom: 1px solid #0a68c542 !important;
}

.div-bandeja .list-group-item:last-child {
  border-bottom: none !important;
}

.div-inbox{
  /* border: 2px solid green; */
  margin-bottom: 1px;
  padding: 12px 8px;
}




/*BOTONES A LA IZQUIERDA*/
.botonera{
  border: 2px solid var(--rojo-echo);
  width: 300px;
}

.btn-camp{
  min-height: 50px;
  background: linear-gradient(to right, rgba(235, 228, 228, 0.63), rgba(155, 3, 155, 0.781));
}


.boton-card {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #5f59f7, #9463c9);
  border-radius: 12px;
  padding: 10px 15px;
  color: white;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.barra-lateral {
  width: 5px;
  height: 100%;
  background-color: gold;
  border-radius: 3px;
  margin-right: 10px;
}

.titulo {
  font-weight: bold;
  font-size: 1rem;
}

.detalle {
  font-size: 0.85rem;
  opacity: 0.9;
}


/* overlay */



.overlay-loading {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px) saturate(130%);
  background-color: rgba(8, 47, 56, 0.322);
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.container-overlay{
  background: var(--dark-echo);
}

.overlay-content {
  color: white;
  font-size: 1.2rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
}

.overlay-loading .card {
  max-width: 40%;   
  width: 90%;        
  background-color: #374d5fe5;
  color: var(--bright-echo);    
}

.overlay-loading .card h5 {
  color: var(--bright-echo); 
}

.overlay-loading .card small {
  color: var(--medium-echo) !important; 
}


.toast-header{
  background-color: var(--bright-echo);
  color: var(--light-echo);
  border-bottom: 1px solid var(--medium-echo);

}

#successToast, 
#errorToast {
  
  background-color: var(--dark-echo);  
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: var(--light-echo);
}


#errorToastMessage, 
#toastMessage {
  color: var(--light-echo);
  
}